{% extends 'base.html' %}
{% load static %}

{% block title %}
    Чати
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/chats.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_group.css' %}">
{% endblock %}

{% block content %}

    <div class="active-dark-background">
        <form class="new-group-form" action="" method = 'post' enctype="multipart/form-data">
            
            <h1 class = 'n-g'>Нова група</h1>
            <input type = "text" placeholder = "Пошук" class = 'search2'>
            <!-- <img src="{% static 'images/search.png' %}" alt="" class="search"> -->
            <div class="users">
                <p class = 'chosen'>Вибрано: 3</p>
                <!-- <div class = 'image-n-g'></div> -->
                <div class="users-list">
                    {{ form.as_p }}
                </div>
            </div>
            
            <div class="submit-buttons">
                <button type="button" class = 'cancel'>Скасувати</button>
                <button type="button" class = 'continue'>Далі</button>
            </div>

        </form>
    </div>

    <button class = 'create-ch'>
        <img src="{% static 'images/plus-w.png' %}" alt="" class="header-image">
        Створити груповий чат
    </button>
    <div class = 'my-c'>
        <div class="contacts-header">
            <img src="{% static 'images/contacts-grey.png' %}" alt="" class="header-image">
            <h1 class = 'contacts'>Контакти</h1>
        </div>

        <input class = 'search' type="search" placeholder="Пошук" >
        <img src="{% static 'images/search.png' %}" alt="" class="search-p header-image">
        <div class = 'contacts-name'>
            {% for friend in all_friends %}
                <div class = 'one-name'>
                    <p class = 'name-c'>{{ friend.first_name }} {{ friend.last_name }}</p>
                    <div class = 'image-c'></div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="main-s">{% include "chats/chat_block.html" %}</div>
    
    <div class="right-block">
        <div class='messages'>
            <div class="contacts-header">
                <img src="{% static 'images/chats(grey).png' %}" alt="" class="header-image">
                <h1 class='mes'>Повідомлення</h1>
            </div>
    
            {% for chat in personal_chats %}
                <div class='msg-item'>
                    <div class='ava-c'></div>
                    <div class='test'>
                        <p class='name'>Mona Lisa</p>
                        <p class='message'>Привіт! Як справи?</p>
                    </div>
                    <p class='t-d'>09:41</p>
                </div>
            {% endfor %}
    
        </div>
    
        <div class="group-chats">
            <div class="contacts-header">
                <img src="{% static 'images/chats(grey).png' %}" alt="" class="header-image">
                <h1 class="group-m">Групові чати</h1>
            </div>
    
            {% for group in users_groups %}
                <div class="group-item" id="{{ group.id }}">
                    <div class="ava2-c"></div>
                    <div class="test">
                        <p class="name2">{{ group.name }}</p>
                        <p class="message2">Привіт!</p>
                    </div>
                    <p class="t-d2">25.04.2025</p>
                </div>
            {% endfor %}
    
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/findChat.js' %}"></script>
    <script src="{% static 'js/createGroup.js' %}"></script>
{% endblock %}